*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.selected:hover{
    text-decoration: none!important;
}

.link{
    text-decoration: none;
    color:grey!important;
    
}

.link:hover{
    /* border-bottom: 0.2rem solid black; */
    text-decoration: none;
}